name: finma

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: backend/docker/Dockerfile
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SECRET_KEY=${SECRET_KEY}
    env_file:
      - .env
    depends_on:
      - database

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: nginx/Dockerfile
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist/frontend/browser:/user/share/nginx/html
    ports:
      - "8081:80"
    environment:
      - NGINX_HOST=foobar.com
      - NGINX_PORT=80
    
  database:
    container_name: postgres
    build:
      context: .
      dockerfile: postgres/Dockerfile
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "8080:80"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - .env

volumes:
  db_data:
    driver: local