.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;

    div {
        display: flex;

        .header-img {
            align-items: center;
            padding: 0 1rem 0 1rem;
        }

        .header-h1 {
            align-items: center;
        }
    }

    .header-links {
        div {
            padding: 2rem;
            a{
                color: initial;
                text-decoration: none;
            }
        }
        div:hover{
            background-color: rgb(158, 158, 158);
            cursor: pointer;
            a{
                color: rgb(255, 255, 255)
            }
        }
    }
}